//  all variables
$white-color: #fff;
$black-color: #000;
$light-gray-color: #f2f2f2;
$dark-gray-color: #808080;
$shadow-color: #efefef;
$bran-primary-color: #009BDE;
$bran-secondary-color: #550E7B;
$main-border-color: #e7e7e7;
$main-bg-color: #e7e3e3;

$main-font-size: 16px;
$heading-font-size: 23px;
$main-border-radius: 5px;
