// style of calender according to our theme tho overwrite the default style of library
.ui-datepicker{
  border: 1px solid $shadow-color!important;
  box-shadow: 0 0 6px $shadow-color!important;
  background-color: lighten($shadow-color, 3%)!important;
  border-radius: $main-border-radius !important;
  width: 100%;
  max-width: 100%;
  * {
    background-color: transparent!important;
    border: none!important;
    font-weight: 300!important;
  }
  .ui-datepicker-header{
    margin-bottom: 15px!important;
    .ui-datepicker-title span{
      font-size: $heading-font-size;
      font-weight: bold!important;
    }
    .ui-datepicker-next,.ui-datepicker-prev{
      span {
        background-image: url('../../assets/img/calender-controls.png');
        width: 12px;
      }
    }
    .ui-datepicker-prev{
      span { background-position: 0 0; }
    }
    .ui-datepicker-next{
      span { background-position: -10px 0; }
    }
  }
  .ui-datepicker-calendar{
    thead{
      span{
        color: $bran-primary-color!important;
        font-weight: bold!important;
        text-align: center!important;
      }
    }
    tbody{
      *{
        color: $dark-gray-color!important;
        text-align: center!important;
        a{
          &:hover{
            cursor: pointer;
            color: $black-color !important;
            text-shadow: 0 0 10px $dark-gray-color;
          }
        }
      }
      .ui-state-active{
        font-weight: bold!important;
        color: $black-color!important;
      }
      .ui-datepicker-today{
        a{
          color: $white-color!important;
          border-radius: 100%;
          @include gradientBG;
        }
      }
      a{
        padding: 7px 5px!important;
      }
    }
  }
}
