@font-face {
  font-family: calibri;
  src: url(../fonts/Calibri.ttf); }

body {
  font-family: Calibri, sans-serif;
  color: #000;
  font-size: 16px; }
  body .main-container {
    background: url(../img/mainBg.png) center center no-repeat;
    background-size: 100% auto;
    background-position: 0px -75px;
    padding: 100px 0;
    background-color: #e7e3e3; }
  body a {
    color: #009BDE; }
  body .bold {
    font-weight: 700 !important; }
  body .main-heading {
    font-size: 23px;
    text-align: initial;
    font-weight: 700;
    text-transform: uppercase; }
  body .bord-btm {
    border-bottom: 1px solid #e7e7e7; }
  body .bord-top {
    border-top: 1px solid #e7e7e7; }
  body .text-primary {
    color: #009BDE !important; }
  body .text-secondary {
    color: #550E7B !important; }
  body .text-white {
    color: #fff !important; }
  body .text-light {
    color: #808080 !important; }
  body .text-right {
    text-align: right; }
  body .pointer {
    cursor: pointer; }
  body .btn-link {
    color: #009BDE !important;
    text-decoration: none;
    box-shadow: none !important; }
    body .btn-link:hover {
      color: #0077ab !important;
      text-decoration: underline; }
  body .btn-primary {
    background-color: #009BDE !important;
    border-color: #009BDE !important; }
    body .btn-primary:hover {
      background-color: #0089c5 !important; }
  body .btn-outline-primary {
    border-color: #009BDE !important;
    color: #009BDE !important; }
    body .btn-outline-primary:hover {
      background-color: #009BDE !important;
      color: #fff !important; }
  body .cover-overlay {
    top: 0;
    left: 0;
    background: -moz-linear-gradient(45deg, rgba(85, 14, 123, 0.5) 0%, rgba(85, 14, 123, 0.5) 18%, rgba(0, 155, 222, 0.5) 100%);
    background: -webkit-linear-gradient(45deg, rgba(85, 14, 123, 0.5) 0%, rgba(85, 14, 123, 0.5) 18%, rgba(0, 155, 222, 0.5) 100%);
    background: linear-gradient(45deg, rgba(85, 14, 123, 0.5) 0%, rgba(85, 14, 123, 0.5) 18%, rgba(0, 155, 222, 0.5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d550e7b', endColorstr='#4d009bde',GradientType=1 ); }
  body .outline-container {
    border: 1px solid #e7e7e7;
    border-radius: 5px;
    padding: 5px; }
  body .pl-20 {
    padding-left: 20px !important; }
  body .pl-30 {
    padding-left: 30px !important; }
  body .ml-20 {
    margin-left: 20px !important; }
  body .pr-0 {
    padding-right: 0; }
  body .lSPager {
    display: none; }
  body .large-slider .lSAction a i {
    opacity: 0.5; }
    body .large-slider .lSAction a i:hover {
      opacity: 1; }
  body .large-slider .lSAction a.lSPrev {
    left: 0; }
  body .large-slider .lSAction a.lSNext {
    right: 0; }
  body .large-slider .lSSlideWrapper {
    padding: 0 35px !important; }
  body form .form-check-input:checked {
    background-color: #009BDE;
    border-color: #009BDE; }
  body .menue-controler {
    top: 15px;
    left: 35px;
    border: 1px solid;
    padding: 5px 10px;
    font-size: 34px;
    border-radius: 5px;
    line-height: 0; }
  body .responsive-menue {
    top: 0;
    left: 0;
    z-index: 1050;
    background-color: rgba(0, 0, 0, 0.8); }
    body .responsive-menue .close-menue {
      top: 20px;
      right: 20px;
      font-size: 24px; }
    body .responsive-menue * {
      color: #fff;
      font-size: calc(16px + 2px); }

.ui-datepicker {
  border: 1px solid #efefef !important;
  box-shadow: 0 0 6px #efefef !important;
  background-color: #f7f7f7 !important;
  border-radius: 5px !important;
  width: 100%;
  max-width: 100%; }
  .ui-datepicker * {
    background-color: transparent !important;
    border: none !important;
    font-weight: 300 !important; }
  .ui-datepicker .ui-datepicker-header {
    margin-bottom: 15px !important; }
    .ui-datepicker .ui-datepicker-header .ui-datepicker-title span {
      font-size: 23px;
      font-weight: bold !important; }
    .ui-datepicker .ui-datepicker-header .ui-datepicker-next span, .ui-datepicker .ui-datepicker-header .ui-datepicker-prev span {
      background-image: url("../../assets/img/calender-controls.png");
      width: 12px; }
    .ui-datepicker .ui-datepicker-header .ui-datepicker-prev span {
      background-position: 0 0; }
    .ui-datepicker .ui-datepicker-header .ui-datepicker-next span {
      background-position: -10px 0; }
  .ui-datepicker .ui-datepicker-calendar thead span {
    color: #009BDE !important;
    font-weight: bold !important;
    text-align: center !important; }
  .ui-datepicker .ui-datepicker-calendar tbody * {
    color: #808080 !important;
    text-align: center !important; }
    .ui-datepicker .ui-datepicker-calendar tbody * a:hover {
      cursor: pointer;
      color: #000 !important;
      text-shadow: 0 0 10px #808080; }
  .ui-datepicker .ui-datepicker-calendar tbody .ui-state-active {
    font-weight: bold !important;
    color: #000 !important; }
  .ui-datepicker .ui-datepicker-calendar tbody .ui-datepicker-today a {
    color: #fff !important;
    border-radius: 100%;
    background: -moz-linear-gradient(45deg, rgba(85, 14, 123, 0.5) 0%, rgba(85, 14, 123, 0.5) 18%, rgba(0, 155, 222, 0.5) 100%);
    background: -webkit-linear-gradient(45deg, rgba(85, 14, 123, 0.5) 0%, rgba(85, 14, 123, 0.5) 18%, rgba(0, 155, 222, 0.5) 100%);
    background: linear-gradient(45deg, rgba(85, 14, 123, 0.5) 0%, rgba(85, 14, 123, 0.5) 18%, rgba(0, 155, 222, 0.5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d550e7b', endColorstr='#4d009bde',GradientType=1 ); }
  .ui-datepicker .ui-datepicker-calendar tbody a {
    padding: 7px 5px !important; }

.home-page-container {
  background-color: #fff; }
  .home-page-container .weather *:not(.degree) {
    margin-left: 10px; }
  .home-page-container .main-side-bar {
    background-color: #f2f2f2;
    border-radius: 0;
    padding-right: 0; }
    .home-page-container .main-side-bar .logo {
      max-width: 200px; }
    .home-page-container .main-side-bar .profile-summary img {
      max-width: 130px;
      max-height: 130px;
      border-radius: 100%;
      border: 1px solid #000; }
      .home-page-container .main-side-bar .profile-summary img:hover {
        cursor: pointer;
        opacity: 0.6; }
    .home-page-container .main-side-bar .profile-summary .profile-name {
      font-size: calc(16px + 4px); }
    .home-page-container .main-side-bar .profile-summary .profile-role {
      font-size: calc(16px + 2px); }
    .home-page-container .main-side-bar nav {
      margin-top: 50px; }
      .home-page-container .main-side-bar nav .nav-link:hover {
        cursor: pointer;
        color: #000 !important;
        text-shadow: 0 0 15px #808080; }
    .home-page-container .main-side-bar .feedback-container {
      bottom: 25px; }
  .home-page-container .page-content {
    padding-left: 0; }
    .home-page-container .page-content .main-cover {
      height: 260px;
      margin-bottom: 30px; }
      .home-page-container .page-content .main-cover .cover-photo {
        object-fit: cover; }
      .home-page-container .page-content .main-cover .cover-overlay .cover-quotes {
        background-color: #fff;
        margin: 0 5%;
        padding: 20px;
        border-radius: 5px; }
        .home-page-container .page-content .main-cover .cover-overlay .cover-quotes .quotes-icon {
          color: #009BDE; }
          .home-page-container .page-content .main-cover .cover-overlay .cover-quotes .quotes-icon:first-of-type {
            webkit-transform: scaleX(-1);
            transform: scaleX(-1);
            font-size: 24px;
            top: -8px;
            left: 20px; }
          .home-page-container .page-content .main-cover .cover-overlay .cover-quotes .quotes-icon:last-of-type {
            font-size: 32px;
            bottom: -15px;
            right: 10px; }
    .home-page-container .page-content .portal-search .form-control {
      border-top: 0;
      border-right: 0;
      border-left: 0;
      border-radius: 0;
      box-shadow: none;
      padding-right: 30px; }
    .home-page-container .page-content .portal-search .search-icon {
      top: 8px;
      right: 0;
      font-size: 20px; }
    .home-page-container .page-content .departments .content-slider {
      height: 145px;
      visibility: hidden; }
      .home-page-container .page-content .departments .content-slider .dept-photo {
        background-color: #f2f2f2;
        border-radius: 5px;
        height: 110px;
        margin-top: 2px; }
        .home-page-container .page-content .departments .content-slider .dept-photo:hover {
          cursor: pointer;
          box-shadow: 0 0 5px #808080; }
        .home-page-container .page-content .departments .content-slider .dept-photo img {
          max-width: 100%; }
    .home-page-container .page-content .departments .lSAction a {
      background: #fff;
      height: 110%;
      top: 0;
      opacity: 1;
      display: flex;
      align-items: center;
      justify-content: space-around;
      text-decoration: none;
      color: #009BDE;
      font-size: 24px; }
    .home-page-container .page-content .recent-updates .updates-container {
      background-color: #f2f2f2;
      border-radius: 5px; }
    .home-page-container .page-content .recent-updates .item {
      background-color: #fff;
      border-radius: 0 0 5px 5px; }
      .home-page-container .page-content .recent-updates .item .update-cover img {
        border-radius: 5px 5px 0 0;
        object-fit: cover;
        max-width: 100%; }
      .home-page-container .page-content .recent-updates .item .update-content {
        padding: 0 10px; }
        .home-page-container .page-content .recent-updates .item .update-content .font-italic {
          font-style: italic; }
        .home-page-container .page-content .recent-updates .item .update-content h3 {
          font-size: 16px; }
      .home-page-container .page-content .recent-updates .item:hover {
        cursor: pointer;
        box-shadow: 0 0 5px #808080; }
    .home-page-container .page-content .recent-updates .content-slider {
      height: 285px;
      visibility: hidden; }
    .home-page-container .page-content .recent-updates .lSAction a {
      background: #f2f2f2;
      height: 110%;
      top: 0;
      opacity: 1;
      display: flex;
      align-items: center;
      justify-content: space-around;
      text-decoration: none;
      color: #009BDE;
      font-size: 24px; }
    .home-page-container .page-content .recent-updates .lSPager {
      display: block; }
    .home-page-container .page-content .our-performance .item .item-content {
      padding: 0 15px;
      line-height: 20px; }
    .home-page-container .page-content .hotline-numbers {
      background-color: #f2f2f2;
      border-radius: 5px; }
      .home-page-container .page-content .hotline-numbers .handset-icon {
        top: -16px;
        opacity: 0.5;
        width: 71px;
        height: 79px;
        margin-right: 10px;
        background: url("../../assets/img/headSet-icon.png") center center no-repeat; }
    .home-page-container .page-content .instgram-feeds .main-heading {
      font-size: 23px;
      text-align: center;
      font-weight: 700;
      text-transform: uppercase; }
    .home-page-container .page-content .instgram-feeds .instgram-icon {
      bottom: -5px;
      right: 5px;
      font-size: 42px;
      color: #550E7B; }
    .home-page-container .page-content .instgram-feeds .feeds-container .feed-item {
      height: 200px; }
      .home-page-container .page-content .instgram-feeds .feeds-container .feed-item img {
        border-radius: 5px;
        object-fit: cover; }
    .home-page-container .page-content .upcomming-pray-time {
      background: url("../../assets/img/SalahIcon.png") center center no-repeat;
      background-size: 70px; }
      .home-page-container .page-content .upcomming-pray-time .cover-overlay {
        border-radius: 5px; }
      .home-page-container .page-content .upcomming-pray-time .main {
        font-size: calc( (16px * 2) - 2px); }
    .home-page-container .page-content .promotions .content-slider {
      height: 180px;
      visibility: hidden; }
    .home-page-container .page-content .promotions .main-heading {
      font-size: 23px;
      text-align: center;
      font-weight: 700;
      text-transform: uppercase; }
    .home-page-container .page-content .promotions .outline-container {
      max-width: 30%; }
      .home-page-container .page-content .promotions .outline-container img {
        max-width: 100%; }
    .home-page-container .page-content .promotions .offer {
      font-size: 23px; }
    .home-page-container .page-content .promotions .lSAction {
      position: absolute;
      top: 0px;
      width: 100%;
      height: 40px; }
    .home-page-container .page-content .new-joinees .content-slider {
      height: 90px;
      visibility: hidden; }
      .home-page-container .page-content .new-joinees .content-slider .item:hover {
        cursor: pointer; }
        .home-page-container .page-content .new-joinees .content-slider .item:hover img {
          opacity: 0.6; }
      .home-page-container .page-content .new-joinees .content-slider img {
        border-radius: 100%;
        max-width: 90px;
        margin-right: 15px; }
    .home-page-container .page-content .new-joinees .lSPager {
      display: block;
      margin: top 25px; }
    .home-page-container .page-content .new-joinees .lSAction {
      display: none !important; }
    .home-page-container .page-content .polls .actions button {
      width: 125px; }
